@model IEnumerable<Url>
@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Add" asp-controller="Url" class="btn btn-primary">Add new</a>
}
<h1>All Shortened Urls</h1>
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <tr>
            <th>Basic url</th>
            <th>ShortenedUrl</th>
            <th>Actions</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.UrlOriginal
                </td>
                <td>
                    @item.UrlShort
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="@item.UrlShort" class="btn btn-primary" target="_blank">Go to this site</a>
                        <button class="btn btn-success" onclick="copy_to_clipboard('@item.UrlShort')">Copy</button>
                        <a asp-action="Info" asp-route-id="@item.Id" class="btn btn-info">Info</a>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>There is no urls</h2>
}

<script>
        function copy_to_clipboard(text){
            navigator.clipboard.writeText(text);
        }
</script>
